# rename this file to .env

# set to 0 to create github pullrequests
# if set to 1 it is just printing what it would do
export ARG_DRY=1

# the repository you are mirroring without github.com in front
# so the default teeworlds/teeworlds points to https://github.com/teeworlds/teeworlds
export UPSTREAM_REMOTE=teeworlds/teeworlds

# the repository you are mirroring to without github.com in front
# so the default teeworlds-community/teeworlds points to https://github.com/teeworlds-community/teeworlds
export DOWNSTREAM_REMOTE=teeworlds-community/teeworlds

# the main branch of your mirror
# against this branch the pullrequest from upstream will be made
export DOWNSTREAM_BRANCH=community

# the github username of the account creating the pullrequests
# default is https://github.com/teeworlds-mirror
# make sure to be logged in to that account
# but not using the user wide login config but the one local to this directory
#
#  GH_CONFIG_DIR=./gh gh auth login
export GH_BOT_USERNAME=teeworlds-mirror

